/*
Theme Nme: Boskoa Theme
Author: 3geeks
Description: Theme para Boskoa CMS
Version: 1.0
*/


.logo {
   font-family:"Architects Daughter", cursive;
   font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
display: flex;
  flex-direction: column;
  line-height: 1;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;

}

.menu li a:hover {
  color: #00e5ff;
}
.subtitle{
 font-size: 14px;
}
.lang{
  color: #fff;
  text-decoration: none;
}
/*----End of navbar style-----*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

.hero {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #f4b400;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.tours {
  padding: 80px 20px;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tour-card {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}





