/*
Theme Nme: Boskoa Theme
Author: 3geeks
Description: Theme para Boskoa CMS
Version: 1.0
*/


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.site-header {
  position: absolute; /* para que flote sobre el contenido */
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; /* transparente */
  z-index: 10; /* encima de todo */
  padding: 20px 0; /* opcional, según tu diseño */
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #f4b400;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.tours {
  padding: 80px 20px;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tour-card {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}

.hero-carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f4b400;
}

@media (max-width: 1200px) {
  .hero-carousel {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .hero-carousel {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .hero-carousel {
    height: 50vh;
  }
}




.slides {
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  padding-left: 2%;
  padding-bottom: 15%;

}


.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide h1 {
  font-size: 5rem;
  color: #000000;
}

.hero-slide-title {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
  max-width: 35%;
}
