/*
Theme Nme: Boskoa Theme
Author: 3geeks
Description: Theme para Boskoa CMS
Version: 1.0
*/

/*------Navbbar Styles------*/
.site-header {
  background: #111;
  padding: 1rem 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
   font-family:"Architects Daughter", cursive;
   font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
display: flex;
  flex-direction: column;
  line-height: 1;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;

}

.menu li a:hover {
  color: #00e5ff;
}
.subtitle{
 font-size: 14px;
}
.lang{
  color: #fff;
  text-decoration: none;
}
/*----End of navbar style-----*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.site-header {
  position: absolute; /* para que flote sobre el contenido */
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; /* transparente */
  z-index: 10; /* encima de todo */
  padding: 20px 0; /* opcional, según tu diseño */
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #f4b400;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.tours {
  padding: 80px 20px;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tour-card {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}




@keyframes slideInRight {
    from {
        transform: translateX(400px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

