.error404-container {
    position: relative;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    /* gradient verde tech */
    background: linear-gradient(
        135deg,
        #021a0f,
        #063d2a,
        #0a5c3b,
        #021a0f
    );

    color: white;
}

.error404-title {
    font-size: 220px;
    font-weight: 300;
    margin: 0;
}

.error404-text {
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}

.error404-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    border: 1px solid #00ff9c;
    color: #00ff9c;
    text-decoration: none;
    border-radius: 6px;
}

.error404-btn:hover {
    background: #00ff9c;
    color: black;
}

/* animal */
.animal {
    position: absolute;
    bottom: 50px;
    left: -100px;
    font-size: 50px;
    opacity: 0;
}