/* ===============================
   PACKAGE CARD----------
================================ */

.package-card-carousel {
flex: 0 0 auto;
    width: 228px;
    /* height: 265px; */
    /* min-width: 280px; */
    /* max-width: 280px; */
    scroll-snap-align: start;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .12);
    transition: transform .3sease, box-shadow .3sease;
}

.package-card-carousel:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .18);
}


/* ===============================
   IMAGE (CUADRADA SIEMPRE) 
================================ */

.package-image-carousel {
height: 100%;
    /* width: 100%; */
    /* aspect-ratio: 1 / 1; */
    position: relative;
    /* overflow: hidden; */
    background: #eaeaea;
}

.package-image-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ===============================
   OVERLAY
================================ */

.package-overlay-carousel {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), rgba(0, 0, 0, .15), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
}

.package-title-carousel {
  color: #fff;
  margin: 7px 0 6px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.package-location-carousel {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: .9rem;
  color: #fff;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {


  .package-title-carousel {
    font-size: 1rem;
  }
}