/* ===============================
   BASE
================================ */

.general-info {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
      height: fit-content;
}

.general-info-costaRica {
      height: fit-content;
  margin-top: 3.4%;
  width: 50%;
  color: #19532D;
}

.general-info-costaRica h2{
  font-size: clamp(3rem, 5vmin, 8rem);
  margin: 0;
}

.general-info-costaRica p{
  font-size: clamp(1rem, 2vmin, 8rem);
  margin: 0;
}

.general-info-minicard {
  height: clamp(180px, 25vh, 600px);
    margin-top: 4%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 45%;
    
    overflow: visible;
    aspect-ratio: 16 / 10;
}

.general-info-img {
      min-width: 240px;
    width: 23%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    border-radius: 23px;
    min-height: 40px;
}

.general-info-second{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: space-between;
  max-width: 321px;
}

.general-info-second-card {
    background: #217E3F;
    border-radius: 23px;
    width: 100%;
    padding: 20px;
    max-height: 70%;
    height: 70%;
}

.general-info-second-card h2 {
    font-weight: 800;
    font-size: 36px;
    margin: 0;
    color: #ffffff;
    text-align: left;
   
}

.general-info-second-card p {
     color: #ffffff;
    text-align: right;
    width: 100%;
    padding-right: 2%;
    font-size: 20px;
}

/* From Uiverse.io by Madflows */ 
.button {
  margin-top: 5%;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}


/* ===============================
   <= 700px
================================ */

@media (max-width: 1203px) {


  .general-info {
    flex-direction: column;
    
  }

  .general-info-costaRica,
  .general-info-second-card {
    width: 100%;
  }

  .general-info-minicard {
    height: clamp(180px, 31vh, 600px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .general-info-second{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: space-between;
    height: 70%;
  }

  .general-info-img {
    width: 30%;
    height: 74%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    border-radius: 23px;
  }
}

/* ===============================
   <= 343px
================================ */

@media (max-width: 571px) {
  .general-info-minicard {
    flex-direction: column;
    aspect-ratio: 4 / 5;
    height: auto;
    align-items: center;
  }

  .general-info-img {
    width: 60%;
    max-width: 180px;   
    aspect-ratio: 4 / 5;
    height: auto;
    margin: 0 auto;    
  }
}

