/* ===============================
   INFO PAQUETES
================================ */

.ourPackets{
      padding: 0 25px;
    margin-top: 40px;
}
.info-paquetes-home {
 display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 1px;
    padding: 0 0 0 4%;
    align-items: center;
}

.info-paquetes-home-text {
  color: #19532D;
    FONT-SIZE: 25px;
    max-width: 400px;
    font-weight: 400;
}
.book-know{
    background: #ADD8E6;
    padding: 3px 10px;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 16px;
}
.divisor-paquetes {
color: #ffffff;
    background: #82BBCE;
    width: fit-content;
    padding: 15px;
    height: 47px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ===============================
   CAROUSEL
================================ */

.carousel-paquetes {
     display: flex;
    gap: 38px;
    /* width: 300px; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px 40px;
    -webkit-overflow-scrolling: touch;
    max-height: 323px;
}

.carousel-paquetes::-webkit-scrollbar {
  display: none;
}


/* ===============================
   BUTTON
================================ */

.info-paquetes-home-button {
    height: fit-content;
    font-size: 16px;
    /* width: 256px; */
    padding: 10px 15px;
    background: #217E3F;
    border: none;
    color: #ffffff;
    border-radius: 47px;
    box-shadow: 3px 3px 8px 1px #00000059;;
    transition: all 0.5s;
    
}
.info-paquetes-home-button:hover{
  background: #3dca6a;
  font-size: 17px;
   padding: 12px 16px ;
   box-shadow: none;
}

/* ===============================
   RESPONSIVE
================================ */

@media (max-width: 768px) {
.info-paquetes-home-text{
  font-size: 18px; 
  }
  .info-paquetes-home-button{
    width: 150px;
  }

  .carousel {
    padding: 16px;
    gap: 16px;
  }
}
@media (max-width: 640px) {
    .info-paquetes-home-button{
      width: 220px;
      font-size: 14px;
    }
}