/* ===============================
   INFO PAQUETES
================================ */

.info-paquetes-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 40px;
  padding: 0 4%;
}

.info-paquetes-home-text {
  color: #19532D;
}

.divisor-paquetes {
  color: #ffffff;
  background: #82BBCE;
  width: 213px;
  height: 47px;
  border-radius: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ===============================
   CAROUSEL
================================ */

.carousel-paquetes {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px 40px;
  -webkit-overflow-scrolling: touch;
  max-height: 417px;
}

.carousel-paquetes::-webkit-scrollbar {
  display: none;
}


/* ===============================
   BUTTON
================================ */

.info-paquetes-home-button {
  height: 47px;
  width: 150px;
  background: #217E3F;
  color: #ffffff;
  border-radius: 47px;
}


/* ===============================
   RESPONSIVE
================================ */

@media (max-width: 768px) {
  .info-paquetes-home {
    flex-direction: column;
    gap: 16px;
  }

  .carousel {
    padding: 16px;
    gap: 16px;
  }
}
