.product-view-main-section{
    padding: 60px 0;
}

.product-view-main-div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-view-upper-site{
    display: flex;
    align-items: center;      
    justify-content: space-between; 
    gap: 40px; /
}

.product-view-left-text{
    flex: 1; 
}

.product-view-rigth-img{
    flex: 1;
    display: flex;
    justify-content: flex-end; 
}

.product-view-rigth-img img{
    max-height: 300px;
    max-width: 300px;
    width: 255px;
    height: 255px;
    border-radius: 10px;
}

.product-view-divisor{
    background: #2A4633;
    margin-top: 25px;
    height: 10px;
    width: 100%;
}

.product-view-book-now{
       color: rgb(255, 255, 255);
    background: #19532d;
    border: none;
    padding: 8px 13px;
    border-radius: 17px;
    font-size: 16px;
    height: fit-content;
}

.product-view-itinerary {
    list-style: none;
    counter-reset: step;
    padding: 0;
    margin-top: 20px;
}

.product-view-itinerary li {
    counter-increment: step;
    position: relative;
    padding-left: 70px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.6;
}

.product-view-itinerary li::before {
    content: counter(step);

    position: absolute;
    left: 0;
    top: 0;

    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: linear-gradient(135deg, #2bb673, #1a7f52);
    color: #fff;

    font-weight: 600;
    font-size: 16px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.product-view-included-wrapper {
    display: flex;
    gap: 60px;
    margin-top: 40px;
}

.product-view-included-column{
    flex: 1;
}

.product-view-included-list {
    list-style: none;
    padding: 0;
}

.product-view-included-list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
}

.product-view-included-list li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #2bb673;
    font-weight: bold;
    font-size: 18px;
}
.product-view-buttons{
        display: flex;
    gap: 10px;
    align-items: flex-end;
}
.product-view-first-text{
        margin-bottom: 0px;
    font-weight: 400;
    color: #19532d;
}
.product-view-product-name{
        color: #19532d;
    font-size: 40px;
    margin-top: 4px;
}
.product-view-price{
        font-size: 20px;
    font-family: 'Poppins';
    margin-bottom: 15px;

}
